/* Color options */
$note-color: #ffffff !default;
$pad-color: #eceeef !default;
$pad-background: $pad-color !default;

/* Alignment options */
$note-marg: 20px !default;
$note-padding: 2% !default;
$pad-padding: 20px !default;
$bounding-margin: 0% !default;

/* Flex options */
$pad-dir: column !default;
